<header
    class="hero-section text-center text-white d-flex align-items-center justify-content-center"
>
    <div class="container">
        <h1 class="display-3 animated-title">
            Discover the Best Events with Evently
        </h1>
        <p class="lead animated-subtitle">
            Find, book, and create events that match your interests, all in one
            place.
        </p>
        <a href="/events" class="btn btn-lg btn-pink animated-btn"
            >Explore Events</a
        >
    </div>
</header>
