  <nav class="navbar navbar-expand-lg navbar-dark bg-dark-purple">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="/">
        <img src="/images/logo.jpeg" alt="Evently Logo" class="brand-logo mr-2" />
        <div class="brand-text">
          <span class="brand-name">EVENTLY</span>
          <span class="brand-slogan">Discover & Book Events</span>
        </div>
      </a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <% if (typeof isAdmin !== 'undefined') { %>
            <li class="nav-item">
              <% if (typeof length !== 'undefined') { %>
              <a class="nav-link" href="/manageEvent">Manage Events  <span class="badge bg-danger ms-2" id="notificationBadge"><%=length%> </span></a>
              <%} else { %>
                <a class="nav-link" href="/manageEvent">Manage Events </a>
              <%}%>
            </li>
          <% } else {%>
            <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/createEvent">Create Event</a>
            </li>
          <% } %>
            <% if (typeof isAdmin !== 'undefined') { %>
              <a class="nav-link" href="/admin/profile">Profile </a>
            <%}%>
          <% if (typeof loggedIn !== 'undefined') { %> 
            <% if (typeof typeOf !== 'undefined' && typeOf === 'user') { %> 
              <li class="nav-item">
                <a class="nav-link " href="/profile">Profile</a>
              </li>
            <%}%>
            <% if (typeof typeOf !== 'undefined' && typeOf === 'organizer') { %> 
              <li class="nav-item">
                <a class="nav-link " href="/organizer/profile">Profile</a>
              </li>
            <%}%>
          <li class="nav-item">
            <a class="nav-link btn btn-signup" href="/logout">Logout</a>
          </li>
          <% } else {%>
          <li class="nav-item">
            <a class="nav-link btn btn-signup" href="/register">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-login" href="/login">Login</a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>
